<!doctype html>
<html lang="eng">
	<head>
		<meta charset="utf-8" />
		<title>BLOG</title>
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<nav>
			<div class="wrapper">
				<div class="logo"></div>

				<p class="logotext"> trend-e homepage</br> app </p>	
				<ul>
					<a href="/" target="_self">ABOUT US</a></li>
					<li><a href="aboutus" target="_self">BE TREND-E</a></li>
					<a href="portfolio.html"><li>COMPANIES</li></a>
					<li class="menupage"><a href="blog.html"><li>BLOG</li></a>
					<a href="contacts.html"><li>SAY HELLO</li></a>
				</ul>
			</div>
		</nav>

		<header> 
			<div class="wrapper"></div>
		</header>

		<section>
			<div class="wrapper"></div>
		</section>

		<footer>
			<div class="wrapper"></div>
		</footer>		

	</body>
</html>
