<!doctype html>
<html lang="eng">
	<head>
		<meta charset="utf-8" />
		<title>My Portfolio</title>
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<nav>
			<div class="wrapper">
				<div class="logo"></div>
				<p class="logotext"> trend-e mhacks </p>	
				<ul>
					<a href="/home/ps/Documents/mhacks2015/trend-e-app/templatesindex.html"><li class="menupage">HOME</li></a>
					<a href="/home/ps/Documents/mhacks2015/trend-e-app/templatescases.html"><li>CASES</li></a>
					<a href="/home/ps/Documents/mhacks2015/trend-e-app/templatesportfolio.html"><li>PORTFOLIO</li></a>
					<a href="/home/ps/Documents/mhacks2015/trend-e-app/templatesblog.html"><li>BLOG</li></a>
					<a href="/home/ps/Documents/mhacks2015/trend-e-app/templatescontacts.html"><li>CONTACTS</li></a>
				</ul>
			</div>
		</nav>

		<header> 
			<div class="wrapper"></div>
		</header>

		<section>
			<div class="wrapper"></div>
		</section>

		<footer>
			<div class="wrapper"></div>
		</footer>		

	</body>
</html>
