@charset "utf-8";

/*reset sheet*/
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	width: 1200px;
}

nav {
	width:100%;
	height:80px;
	border-bottom: 1px solid #cecece; /* Adds a thin grey line to the bottom of the header*/
}

.logo {
	float: left;
	position: relative;
	top: 15px;
	width: 50px;
	height: 50px;
	background-image: url("img/final.png");
}

.logo:hover {
	background-position: bottom;
}

.logotext{
	position: relative;
	right: 0px;
	float: left;
	font-family: arial;
	font-size: 20px;
	/* padding is used to move text left and right, margin is for up and down */
	padding-top: 22px;
	line-height: 95%;
}

nav ul {
	float: right;
	
}

nav ul li{
	display: inline-block;
	color: black;	
	font-size: 12px;
	font-family: arial;
	height: 80px;
	width: 110px;
	
	/*fixing the issue of boxes surpassing the boarder*/
	float: left;
	/*centering text in the boxes*/
	text-align: center;
	line-height: 700%; 
	/*list style prevents the website from srewing up the navigation portion of the site*/
	list-style: none;	 
}

nav ul li:hover{
	background-color: #f2f2f2;	 
}

.menupage {
	background-color: #f2f2f2;
 	color: orange;
}


}

div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
}